DP0 central coordinates: 62, -37

In [1]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import time

import pandas
pandas.set_option('display.max_rows', 1000)

from lsst.rsp import get_tap_service, retrieve_query

import lsst.daf.butler as dafButler

import lsst.geom
import lsst.afw.display as afwDisplay

## Start TAP service

In [2]:
service = get_tap_service()

## List all the tables

In [3]:
results = service.search("SELECT description, table_name FROM TAP_SCHEMA.tables")
results_tab = results.to_table()

for tablename in results_tab['table_name']:
    print(tablename)

dp01_dc2_catalogs.forced_photometry
dp01_dc2_catalogs.object
dp01_dc2_catalogs.position
dp01_dc2_catalogs.reference
dp01_dc2_catalogs.truth_match
dp02_dc2_catalogs.CcdVisit
dp02_dc2_catalogs.DiaObject
dp02_dc2_catalogs.DiaSource
dp02_dc2_catalogs.ForcedSource
dp02_dc2_catalogs.ForcedSourceOnDiaObject
dp02_dc2_catalogs.MatchesObject
dp02_dc2_catalogs.MatchesTruth
dp02_dc2_catalogs.Object
dp02_dc2_catalogs.Source
dp02_dc2_catalogs.Visit
dp02_test_PREOPS863_00.CcdVisit
dp02_test_PREOPS863_00.DiaObject
dp02_test_PREOPS863_00.DiaSource
dp02_test_PREOPS863_00.ForcedSource
dp02_test_PREOPS863_00.ForcedSourceOnDiaObject
dp02_test_PREOPS863_00.Object
dp02_test_PREOPS863_00.Source
dp02_test_PREOPS863_00.Visit
ivoa.ObsCore
tap_schema.columns
tap_schema.key_columns
tap_schema.keys
tap_schema.schemas
tap_schema.tables
uws.Job

## DiaObject

In [13]:
# results = service.search("SELECT column_name, datatype, description, unit from TAP_SCHEMA.columns "\
#                          "WHERE table_name = 'dp02_dc2_catalogs.DiaObject'")
# results.to_table().to_pandas()

In [ ]:
# del results

In [ ]:
# results = service.search("SELECT ra, decl, diaObjectId, nDiaSources, rPSFluxMean, "
#                          "scisql_fluxToAbMag(gPSFluxMax/1e32) AS gPSMagMin, "
#                          "scisql_fluxToAbMag(rPSFluxMax/1e32) AS rPSMagMin, "
#                          "scisql_fluxToAbMag(iPSFluxMax/1e32) AS iPSMagMin "
#                          "FROM dp02_dc2_catalogs.DiaObject "\
#                          "WHERE scisql_fluxToAbMag(gPSFluxMax/1e32) > 14 "
#                          "AND scisql_fluxToAbMag(gPSFluxMax/1e32) < 24 "
#                          "AND scisql_fluxToAbMag(rPSFluxMax/1e32) > 14 "
#                          "AND scisql_fluxToAbMag(rPSFluxMax/1e32) < 24 "
#                          "AND scisql_fluxToAbMag(iPSFluxMax/1e32) > 14 "
#                          "AND scisql_fluxToAbMag(iPSFluxMax/1e32) < 24 "
#                          "AND CONTAINS(POINT('ICRS', ra, decl), CIRCLE('ICRS', 62, -37, 0.5)) = 1 ", maxrec=10000)
# DiaObjs = results.to_table()

In [ ]:
# del results

In [ ]:
# print(len(DiaObjs))

In [ ]:
# DiaObjs

In [ ]:
# del DiaObjs

## DiaSource

In [ ]:
# results = service.search("SELECT column_name, datatype, description, unit from TAP_SCHEMA.columns "\
#                          "WHERE table_name = 'dp02_dc2_catalogs.DiaSource'")
# results.to_table().to_pandas()

In [ ]:
# del results

## DP0.1 Truth_Match

In [18]:
results = service.search("SELECT column_name, datatype, description, unit from TAP_SCHEMA.columns "\
                         "WHERE table_name = 'dp01_dc2_catalogs.truth_match'")
results.to_table().to_pandas()

,column_name,datatype,description,unit
0,cosmodc2_hp,long,Healpix ID in cosmoDC2 (for galaxies only; -1 ...,
1,cosmodc2_id,long,Galaxy ID in cosmoDC2 (for galaxies only; -1 f...,
2,dec,double,Declination,deg
3,flux_g,float,Static flux value in g,nJy
4,flux_g_noMW,float,"Static flux value in g, without Milky Way exti...",nJy
5,flux_i,float,Static flux value in i,nJy
6,flux_i_noMW,float,"Static flux value in i, without Milky Way exti...",nJy
7,flux_r,float,Static flux value in r,nJy
8,flux_r_noMW,float,"Static flux value in r, without Milky Way exti...",nJy
9,flux_u,float,Static flux value in u,nJy
10,flux_u_noMW,float,"Static flux value in u, without Milky Way exti...",nJy
11,flux_y,float,Static flux value in y,nJy
12,flux_y_noMW,float,"Static flux value in y, without Milky Way exti...",nJy
13,flux_z,float,Static flux value in z,nJy
14,flux_z_noMW,float,"Static flux value in z, without Milky Way exti...",nJy
15,host_galaxy,long,ID of the host galaxy for a SN/AGN entry (-1 f...,
16,id,char,Unique object ID,
17,is_good_match,boolean,True if this object--truth matching pair satis...,
18,is_nearest_neighbor,boolean,True if this truth entry is the nearest neighb...,
19,is_pointsource,int,1 for a point source,
20,is_unique_truth_entry,boolean,True for truth entries that appear for the fir...,
21,is_variable,int,1 for a variable source,
22,mag_r,float,Magnitude in r,mag
23,match_objectId,long,objectId of the matching object entry (-1 for ...,
24,match_sep,double,On-sky angular separation of this object-truth...,asec
25,patch,char,"Patch ID in Sky Map (as a string, x,y)",
26,ra,double,Right Ascension,deg
27,redshift,float,Redshift,
28,tract,long,Tract ID in Sky Map,
29,truth_type,long,"1 for galaxies, 2 for stars, and 3 for SNe",

## Truth: MatchesObject and MatchesTruth Tables

In [8]:
results = service.search("SELECT column_name, datatype, description, unit from TAP_SCHEMA.columns "\
                         "WHERE table_name = 'dp02_dc2_catalogs.MatchesObject'")
results.to_table().to_pandas()

,column_name,datatype,description,unit
0,index,long,Incrementing (implicit) row index,
1,match_candidate,boolean,True for sources that were selected for matching,
2,match_id,char,"id of matched truth_summary source, if any",
3,match_row,long,"Index of matched truth_summary table row, if any",
4,objectId,long,objectId of object,

In [9]:
del results

In [10]:
results = service.search("SELECT column_name, datatype, description, unit from TAP_SCHEMA.columns "\
                         "WHERE table_name = 'dp02_dc2_catalogs.MatchesTruth'")
results.to_table().to_pandas()

,column_name,datatype,description,unit
0,id,char,id for truth_summary source.,
1,index,long,Incrementing (implicit) row index,
2,match_candidate,boolean,True for sources that were selected for matching,
3,match_chisq,double,The chi-squared value of the (best) match,
4,match_count,int,Number of candidate object matches within matc...,
5,match_n_chisq_finite,int,The number of finite columns used to compute t...,
6,match_objectId,long,"objectId of matched objectTable_tract object, ...",
7,match_row,long,"Index of matched objectTable_tract table row, ...",

In [11]:
del results

## Visit and CcdVisit

In [14]:
results = service.search("SELECT column_name, datatype, description, unit from TAP_SCHEMA.columns "\
                         "WHERE table_name = 'dp02_dc2_catalogs.CcdVisit'")
results.to_table().to_pandas()

        column_name datatype description unit
0              band     char
1        ccdVisitId     long
2          darkTime   double
3              decl   double
4          detector     long
5          expMidpt     char
6       expMidptMJD   double
7           expTime   double
8            llcdec   double
9             llcra   double
10           lrcdec   double
11            lrcra   double
12         obsStart     char
13      obsStartMJD   double
14  physical_filter     char
15         psfSigma    float
16               ra   double
17           seeing   double
18            skyBg    float
19         skyNoise    float
20      skyRotation   double
21           ulcdec   double
22            ulcra   double
23           urcdec   double
24            urcra   double
25          visitId     long
26            xSize     long
27            ySize     long
28   zenithDistance    float
29        zeroPoint    float

In [15]:
del results

In [16]:
results = service.search("SELECT column_name, datatype, description, unit from TAP_SCHEMA.columns "\
                         "WHERE table_name = 'dp02_dc2_catalogs.Visit'")
results.to_table().to_pandas()

        column_name datatype description unit
0           airmass   double
1          altitude   double
2           azimuth   double
3              band     char
4              decl   double
5          expMidpt     char
6       expMidptMJD   double
7           expTime   double
8          obsStart     char
9       obsStartMJD   double
10  physical_filter     char
11               ra   double
12      skyRotation   double
13            visit     long
14   zenithDistance   double

In [17]:
del results